accelerate==0.21.0
bitsandbytes==0.40.2
datasets
fire
h5py
huggingface_hub
matplotlib
nltk
optuna
pandas
peft==0.4.0
protobuf
scikit-learn
seaborn
sentencepiece
torch
tqdm
transformers==4.31.0
trl==0.4.7
tyro
xformers